DEV_HOST=192.168.1.1
DEV_PORT=5280
BASE_URL=https://api.example.com
PRIVACY_URL=https://example.com/privacy
TERMS_URL=https://example.com/terms
APP_SCHEME=finerrcentral
ONELINK_HOST=finerrcentral.onelink.me
ONELINK_PATH_PREFIX=/jDC6
APPSFLYER_DEV_KEY=
APPSFLYER_APP_ID=
TELNYX_PUSH_ENV=debug
