# dependencies
node_modules/

# Metro / RN
.expo/
dist/
web-build/
*.jsbundle
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.p8
*.p12
*.key
*.mobileprovision
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/app/.cxx/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
